<div class="cs-product-collection">
  <button data-gallery-item="previous" class="gallery-previous">
    <svg class="gallery-arrow">
      <use xlink:href="#icon-prev" />
    </svg>
  </button>
  <div class="slides-wrapper">
    <div class="slides" data-gallery-item="slide"></div>
  </div>
  <button data-gallery-item="next" class="gallery-next">
    <svg class="gallery-arrow">
      <use xlink:href="#icon-next" />
    </svg>
  </button>
  <div class="gallery-nav">
    <div class="gallery-map"></div>
  </div>
</div>