{{!-- CravenSpeed Default Product --}}

{{#partial "page"}}
{{#each product.shipping_messages}}
{{>components/common/alert/alert-info message}}
{{/each}}

<div id="optimized-product">
  <div id="product-messages"></div>
  <div id="product-above">
    <div id="product-above-photo">{{> components/products-cs/gallery}}</div>
    <div id="product-above-info">
      <div id="product-title">
        <h1 data-product-title="{{product.title}}" data-product-category="{{product.category}}">
          {{#contains (JSONstringify product.custom_fields) 'archetype_id'}}
          {{product.title}}
          {{else}}
          {{#filter product.custom_fields 'Product Type' property='name'}}
          {{value}}
          {{/filter}}
          {{/contains}}
        </h1>
      </div>
      <h2 class="single-row" id="product-sku" data-product-sku="{{product.sku}}">{{product.sku}}</h2>
      <h2 class="single-row" id="product-shipping"></h2>
      <h2 class="single-row" id="product-stock"></h2>
      <h2 class="double-row" id="product-price"></h2>
      <a href="#tab-reviews" class="single-row" id="product-rating">
        {{> components/products-cs/rating-cs}}
      </a>
      <h2 class="single-row" id="product-brand">{{product.brand.name}}</h2>
      <div id="product-selection">
        <select style="visibility: hidden;" disabled="true" name="make" id="make">
        </select>
        <select style="visibility: hidden;" disabled="true" name="model" id="model">
        </select>
        <select style="visibility: hidden;" disabled="true" name="year" id="year">
        </select>
        <select style="visibility: hidden;" disabled="true" name="Option One" id="option-one"></select>
        <select style="visibility: hidden;" disabled="true" name="Option Two" id="option-two"></select>
        <form id="product-blem-form" class="single-row" style="visibility: hidden;">
        </form>
        <div id="product-fitment-notes"></div>
        {{> components/products-cs/modals/scratchAndDent}}
        <a id="product-add-button" type="button">{{lang 'products.add_to_cart'}}</a>
        {{> components/products-cs/modals/stockNotification}}
      </div>
      <div id="product-badges"></div>
      {{> components/products-cs/modals/warrantyMessage}}
      {{> components/products-cs/modals/shippingMessage}}
    </div>
  </div>

  <div id="product-below">

    {{>components/products-cs/description-tabs-cs}}

  </div>

</div>
{{> components/products/schema}}

{{/partial}}

{{> layout/base}}